fastapi
uvicorn
sqlalchemy
pydantic
alembic
psycopg2
email-validator
psycopg2-binary
pytest
# Add other dependencies as needed
python-dotenv
httpx
aiosqlite
pytest-asyncio
greenlet
asyncpg
pytest-mock
respx
jinja2
flask==2.3.3
flask-admin
flask-login
flask-sqlalchemy
gunicorn
flask-babel
wtforms==2.3.0
wtforms_sqlalchemy
Flask-WTF==1.2.1
