fastapi
uvicorn
sqlalchemy
pydantic
alembic
psycopg2
email-validator
psycopg2-binary
pytest
# Add other dependencies as needed
python-dotenv
httpx
aiosqlite
pytest-asyncio
greenlet
asyncpg
pytest-mock
respx
fastapi-admin
git+https://github.com/fastapi-admin/fastapi-admin.git#egg=fastapi-admin
